<div class="head">
<h1>Porkstain</h1>
<h2>Edit a post</h2>
</div>
<form class="edit-post" action="/{{_id}}/update" method="post">
  <label for="posts">Post Title</label>
    <input type="text" name="posts" value="{{posts}}">

  <label for="postContent">Post Content</label>
    <textarea name="postContent" rows="8" cols="40">{{postContent}}</textarea>

  <label for="datePosted">Date Posted</label>
    <input type="date" name="datePosted" value="{{datePosted}}">

  <input type="submit" value="Modify this post">
</form>

<form class="delete-post" action="/{{_id}}/delete" method="post">
  <input type="submit" name="name" value="Delete this post">
</form>
