<div class="head">
<h1>Porkstain</h1>

<h2>Read something nasty!</h2>

<a href="/new" class="new-post-link">Add a new post</a>
</div>

<div class="posts">
{{#each posts}}
  <h3>{{posts}}-{{postTitle}}</h3> Posted on {{datePosted}}
  <br>
  <br>
  {{postContent}}
  <br>
  <a class="viewPosting" href="/{{_id}}">Read more!</a>
  <br>
  <br>
{{/each}}
</div>
